<!DOCTYPE html>
<html>
    <head>
        <meta name="theme-color" content="#483D8B">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

        <link rel="icon" type="image/png" href="img/ico.png"/>
        <meta property="og:image" content="<%= image %>">
        <title><%= title %></title>
      	<meta property="og:title" content="ejs-fuck - perssBest/ejs-fuck">
        <meta property="og:description" content="<%= description %>">
      	<meta property="og:url" content="">
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="HTML, CSS, JavaScript, EJS">
        <meta name="author" content="perssBest">

        <link rel="stylesheet" href="styles/index.css">
    </head>

    <body>

        <div class="main">
          <a href="https://discord.gg/RPb2KXN" class="rainbow"><%= main %></a>
        </div>
    
        <div id="footer">
          <a href="https://github.com/perssBest/">Author</a> | <a href="https://github.com/perssBest/ejs-fuck">OpenSource</a> | <a href="https://ejs.co/">Ejs docs</a>
        </div>

    </body>
</html>